# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dist (Opcional: puedes dejarlo comentado si quieres subir la build también)
# dist
# dist-ssr

# Bloqueo de locales (COMENTA ESTO PARA SUBIR .env.local si lo usas)
# *.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- IMPORTANTE: ---
# Asegúrate de que NO haya ninguna línea abajo que diga "node_modules" o ".env"
